@media all and (max-width: 800px) {
  /* projects section */

  .projects-section-dark {
    padding: 10% 0%;
    background-color: #d7e8f7;
  }

  .project-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0% 0% 10% 0%;
  }

  .project-light {
    margin: 25px 10px 0px 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #1d3557;
    background-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
  }

  .project-header-light {
    text-align: center;
    padding: 20px;
    color: #1d3557;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: -1px;
  }
}

@media all and (min-width: 800px) {
  /* projects section */

  .projects-section-dark {
    padding: 5% 0%;
    background-color: #d7e8f7;
  }

  .project-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .project-light {
    margin: 25px 10px 0px 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #1d3557;
    background-color: white;
    border-radius: 7px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
  }

  .project-header-light {
    text-align: center;
    padding: 20px;
    color: #1d3557;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: -1px;
  }
}
