/* projects section */

.projects-section-light {
  padding: 5% 0%;
}

.project-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-dark {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #1d3557;
}

.project-header-dark {
  text-align: center;
  padding: 20px;
  color: #1d3557;
  font-size: 40px;
}
