.external-button:hover {
  width: 180px;
}
.external-button {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  margin: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition-duration: 500ms;
  color: white;
  background-color: #e63946;
  height: 50px;
  width: 150px;
  border-radius: 7px;
}

.external-button a {
  text-decoration: none;
  width: 100%;
  color: white;
}
