/* contact section */

.contact-section {
  margin: 30px;
}

.contact-section-form {
  padding-bottom: 20px;
}

.contact-header-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-button-item {
  background-color: #3facca;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-link {
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.button-text {
  text-align: center;
  font-weight: 600;
}

.div-hover div:hover {
  background-color: orange;
  transition-duration: 500ms;
}

.div-hover a:hover {
  color: white;
}

/* form styles */

form {
  padding: 20px;
}

form input {
  margin: 10px 0 10px 0;
}

.form-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: #3facca;
  min-width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form div label {
  font-weight: 500;
}

form input,
textarea {
  width: 100%;
  border-radius: 5px;
  border-style: none;
}

form button {
  background-color: white;
}

.form-content-group {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

form button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: orange;
  transition-duration: 500ms;
}

.submit {
  margin-right: 50px;
}
