/* projects section */

.projects-section {
  background-color: #f8f8f8;
  padding: 5% 0%;
}

.project-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #002447;
}

.projects-header {
  text-align: center;
  padding: 20px;
}

.project {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project img {
  max-width: 50px;
}

.project button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: none;
  height: 30px;
  width: 50px;
}

.project button:hover {
  width: 100px;
  background-color: #c4e9ff;
}
.project button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  height: 30px;
  width: 50px;
}
