.project-skills {
  display: flex;
  flex-direction: column;
}

.project-skills-heading {
  font-size: 30px;
}

.project-tech-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5% 0% 3% 0%;
}

.skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.project-tech-icons img {
  max-width: 30%;
  border-radius: 0;
}
