/* about section */

.about-section {
  background-color: #3facca;
  padding: 20px;
}

.about-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-item {
  display: flex;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-position: inside;
}
