.contact-section-dark {
  padding: 10% 0% 10% 0%;
  background-color: #d7e8f7;
}

.contact-button-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contact-heading-dark {
  text-align: center;
  color: #1d3557;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: -1px;
  margin-bottom: 40px;
}
