.contact-section {
  margin: 10% 0% 10% 0%;
}

.contact-button-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contact-heading {
  text-align: center;
  color: #1d3557;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: -1px;
  margin-bottom: 40px;
  padding: 0% 3%;
}
