@media all and (max-width: 800px) {
  .project-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10% 10% 5% 10%;
    color: #2f3237;
  }

  .project-display-screenshot img {
    max-width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
  }

  .project-display-screenshot {
    display: none;
  }

  .project-display > div {
    padding: 3% 0%;
  }

  .project-description-section p {
    font-size: 18px;
  }

  .project-description-section h2 {
    font-size: 24px;
  }
}
@media all and (min-width: 800px) {
  .project-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10% 10% 5% 10%;
    color: #2f3237;
  }

  .project-display-screenshot img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.2);
  }

  .project-display-screenshot {
    display: flex;
    background-color: #d7e8f7;
    padding: 5%;
  }

  .project-display > div {
    padding: 3% 0%;
  }

  .project-description-section p {
    font-size: 20px;
  }

  .project-description-section h2 {
    font-size: 30px;
    padding-bottom: 3%;
  }
}
