@media all and (max-width: 800px) {
  /* about section */

  .about-section {
    padding: 15% 8% 5% 8%;
  }

  .about-heading {
    font-size: 52px;
    letter-spacing: -1px;
    font-weight: 200;
    text-align: left;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-section p {
    font-size: 15px;
  }

  .about-image {
    max-width: 90%;
    margin: 10px 0px;
  }

  .about-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media all and (min-width: 800px) {
  /* about section */

  .about-section {
    padding: 20px;
  }

  .about-heading {
    font-size: 62px;
    letter-spacing: -1px;
    font-weight: 200;
    text-align: left;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    max-width: 70%;
    margin: 10px 0px;
  }

  .about-section p {
    font-size: 20px;
  }

  .about-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10% 10% 5% 10%;
  }
}
