/* about section */

.about-section {
  padding: 20px;
  color: #2f3237;
}

.about-heading {
  font-size: 50px;
  text-align: left;
}

.about-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 10% 5% 10%;
}
