@media all and (max-width: 800px) {
  .headline {
    padding: 15% 10% 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .headline h1 {
    font-size: 35px;
  }

  .headline h2 {
    font-size: 20px;
  }

  .headline h1,
  h2 {
    margin: 5px 0px;
  }

  /* intro section */

  .intro-section {
    padding: 10%;
    display: flex;
    flex-flow: column;
  }

  .intro-section img {
    max-width: 30%;
    border-radius: 5px;
  }

  .intro-content {
    max-width: 98%;
    padding-top: 20px;
  }
}

@media all and (min-width: 800px) {
  .intro-section {
    padding: 8% 5% 0% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .headline h1 {
    font-size: 62px;
    font-weight: 700;
  }

  .headline h2 {
    font-size: 30px;
    font-weight: 400;
  }

  .headline h1,
  h2 {
    margin: 5px 0px;
  }

  /* intro section */

  .intro-section img {
    width: 50%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 50px;
  }

  .intro-section {
    display: flex;
    flex-flow: row;
    padding: 8% 10% 8% 10%;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex: 2;
    font-size: 20px;
    max-width: 80%;
  }
}
